
@import "src/assets/styles/global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";


:host {


  &.DecideToDoSurveyView{
    display: block;
    .DecideToDoSurvey{
      &Main{
        &Pod{
          @include MainPodCssRule0;
          padding:1.5rem;
          background-color: var(--wml-dark-grey);
          @include borderRadius2;

        }
      }
      &Pod{

        &0{
          display: flex;
          align-items: center;

          &Item {
            &0 {
              flex:1 0 auto;
              display: flex;
              justify-content: center;
              align-items: center;

              > *{
                font: $display-x-small;
                &:not(i){
                  color:var(--wml-white) ;
                }
              }
            }
          }

          &Icon {
            @for $i from 0 through 1 {
              &#{$i} {
                flex:0 1 auto;
                font-size: $display;
                color:var(--wml-secondary);
              }
            }
            &0 {
              flex:0 1 auto;
              font-size: $display;
              margin:0 $spacing3 0 0;

            }
            &1{
              font-weight: 300;
            }

          }

          &Title {
            &0 {
              font-family: "neon-club-music";
            }
          }
        }

        &1{
          * {
            color:var(--wml-white)
          }

          &Text {
            &0 {
              margin:$spacing7 0 0 0;
            }
          }

          &Item {
            &0 {
              display: flex;
              justify-content: space-evenly;
              margin:$spacing7 0 0 0;

            }
          }
        }
      }
    }
  }

}
