
@import "src/assets/styles/global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";

:host {

  &.AdsZeroView{
    display: block;


    &States {
      &0 {
        display: block;
      }
      &1{
        display: none !important;
      }
    }
    .AdsZero{
      &Main{
        &Pod{
          width: 100%;
          padding:$spacing5;
          position: relative;
          max-height: calc(90/10.6 * 1rem);
          display: flex;
        }

        &Img {
          &0 {
            flex: 0 1 90%;
            // width: auto;
            max-width: 90%;
            max-height: 100%;
            position: relative;

            object-fit: fill;
          }
        }

        &Text {
          &0 {
            flex: 0 0 5%;
            margin: 0 0 0 $spacing5;
            color:rgba(var(--wml-black));
            font-size:$wml-h3
          }
        }
      }
      &Pod{

        &0{}
      }
    }
  }

}
