@function random-color($value) {
    @return rgb(random(255), random(255), random(255), random(255));
}



$wml-white: #ffffff;
$wml-black: #000000;
$wml-black-opacity-0:rgba(0,0,0,.5);
$wml-white-opacity-0:rgba(255,255,255,.8);
$wml-primary: #90ee90;
$wml-secondary:#707070;
$wml-tertiary:maroon;
$wml-star-selected:#FFD700;
$wml-alert:red;
$wml-gradient-0: radial-gradient(farthest-corner at 100% 0px,grey 0%,#000 150%);
$wml-gradient-1: radial-gradient(farthest-corner at 100% 0px,$wml-primary 0%,$wml-secondary 150%);
$wml-nav-color:$wml-black;
$wml-nav-color-dark:$wml-primary;
$wml-input-background-color-light-0:lightgrey;
$wml-input-background-color-dark-0:rgb(59,59,59);
$wml-google-primary:$wml-white;
$wml-facebook-primary:#3b5998;
$wml-twitter-primary:#1da1f2;
$wml-yahoo-primary:#430297;
$wml-apple-primary:$wml-black;
$wml-microsoft-primary: #7FBA00;
$wml-github-primary: #181717;
$wml-popup-background:"112, 112, 112";

:root {

    --wml-input-background-color-light-0:#{$wml-input-background-color-light-0};
    --wml-orig-input-background-color-light-0:#{$wml-input-background-color-light-0};
    --wml-input-background-color-dark-0:#{$wml-input-background-color-dark-0};
    --wml-orig-input-background-color-dark-0:#{$wml-input-background-color-dark-0};
    --wml-white-opacity-0:#{$wml-white-opacity-0};
    --wml-orig-white-opacity-0:#{$wml-white-opacity-0};
    --wml-black-opacity-0:#{$wml-black-opacity-0};
    --wml-orig-black-opacity-0:#{$wml-black-opacity-0};
    --wml-black-opacity-1:#{$wml-black-opacity-0};
    --wml-orig-black-opacity-1:#{$wml-black-opacity-0};
    --wml-white:#{$wml-white};
    --wml-orig-white:#{$wml-white};
    --wml-black:#{$wml-black};
    --wml-orig-black:#{$wml-black};
    --wml-primary:#{$wml-primary};
    --wml-orig-primary:#{$wml-primary};
    --wml-secondary:#{$wml-secondary};
    --wml-star-selected:#{$wml-star-selected};
    --wml-alert:#{$wml-alert};
    --wml-tertiary:#{$wml-tertiary};
    --wml-gradient-0:#{$wml-gradient-0};
    --wml-gradient-1:#{$wml-gradient-1};
    --wml-orig-gradient-1:#{$wml-gradient-1};
    --wml-orig-secondary:#{$wml-secondary};
    --wml-orig-star-selected:#{$wml-star-selected};
    --wml-orig-alert:#{$wml-alert};
    --wml-orig-tertiary:#{$wml-tertiary};
    --wml-orig-gradient-0:#{$wml-gradient-0};
    --wml-gradient-1:#{$wml-gradient-1};
    --wml-orig-gradient-1:#{$wml-gradient-1};

    --wml-nav-color:#{$wml-nav-color};
    --wml-orig-nav-color:#{$wml-nav-color};

    --wml-popup-background:#{$wml-popup-background};
    --wml-orig-popup-background:#{$wml-popup-background};


}



