
@import "src/assets/styles/_global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";


:host {


  &.LogoDisplayZeroView{
    display: block;
    .LogoDisplayZero{
      &Main{
        &Pod{
          @include MainPodCssRule0;
          display: inline-flex;
          align-items: center;
          background: var(--wml-gradient-2);
          padding: 0 $spacing5  0 0 ;
          border-radius: $wml-border-radius0;
        }

        &Title {
          &0 {
            font-family: "Component-Italic";
            color:var(--wml-orig-primary);
            font-size:$wml-h5
          }
        }

        &Img {
          &0 {
            width: calc(60/16 * 1rem);
            height: auto;
          }
        }
      }
      &Pod{

        &0{}
      }
    }
  }

}
