#root  wml-mobile-nav-zero{
  .WmlMobileNavZeroPod0{
    background: $wml-gradient-0;
    flex:0 0 45% ;
  }

  .MobileNavLogoDisplay{
    background-color: $wml-black;
    padding: $spacing7 ;
    @include WMLFlexColumnCenter;

    .LogoDisplayZeroMainPod{
      @include WMLFlexColumnCenter;
      padding:$spacing3 ;
      background: $wml-gradient-0 ;
    }

  }
}

