
@import "src/assets/styles/global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";

:host {

  &.ContainerZeroView{
    display: block;
    width: 100%;
    height: 100%;
    .ContainerZero{
      &Main{
        &Pod{
          position: relative;
          @include MainPodCssRule0;
          padding:0;
          width: 100%;
          height: 100%;
          border: calc(8/10.6 * 1rem) solid rgba(var(--wml-secondary));

        }
      }
      &Pod{
        &0{
          inset:0;
          position: absolute;
          height: 100%;
          background-color: rgba(var(--wml-tertiary),.8);
          filter: brightness(25%);
        }

        &1{
          height: 100%;
          position: relative;
        }
      }
    }
  }

}
