
@import "src/assets/styles/_global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";


:host {


  &.NavZeroView{
    display: block;
    z-index:6;
    .NavZero{
      &Main{
        &Pod{
          @include MainPodCssRule2;
          background:var(--wml-orig-gradient-0);

        }
      }
      &Pod{

        &0{
          padding:$spacing3   $spacing5;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &Item {
            &0 {
              @include WMLFlexRowCenter;
            }
            &1{
              display: flex;
              > *{
                margin:0 0 0 $spacing5;
              }
            }
            &2{
              margin:0 0 0 $spacing5;
            }
          }
          &Icon {
            &0 {
              color:$wml-white;
              font-size: $display-x-small;
              margin: 0 0 0 $spacing5;
              display: none;
            }
          }
          &Title {
            &0 {
              font-family: "Component-Italic";
              color:var(--wml-orig-primary);
              font-size:$wml-h5
            }
          }


        }
        &1{
          background: var(--wml-gradient-1);
          display: flex;
          justify-content: flex-end;
          &Item {
            &0 {
              display: flex;

              > *{

                // &:first-child{
                //   border-left: calc(2/16 * 1rem) solid var(--wml-secondary);
                // }
              }
            }
          }
        }
      }
    }
  }

}
