<div [class]="classPrefix('MainPod')">
  <section [class]="classPrefix('Pod0')">
    <div [class]="classPrefix('Pod0Item0')">
      <img [class]="classPrefix('Pod0Img0')" [src]=specificService.paintSploshBg().src [alt]=specificService.paintSploshBg().alt />
      <h2 [class]="classPrefix('Pod0Title0')">{{"NavZero.title" | translate}}</h2>
    </div>
    <div [class]="classPrefix('Pod0Item1')">
      <mat-slide-toggle
        [class]="classPrefix('Pod0Item2')"
        [checked]="darkMode === 'NavZero.darkMode'"
        (toggleChange)="toggleDarkMode()">{{darkMode | translate}}
      </mat-slide-toggle>
      <ng-container *ngFor="let route of navService.desktopNav">
        <a [id]="route.id" *ngIf="route.isPresent" [class]="classPrefix('Pod0Link0')" (click)="route.click()" >{{ route.text | translate }}</a>
      </ng-container>
      <i
        (click)="navService.openMobileNav()"
        [class]="classPrefix('Pod0Icon0') + ' fa-solid fa-bars'">
      </i>
    </div>
  </section>
</div>
