
@import "src/assets/styles/global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";


:host {

  &.NavZeroView{
    display: block;
    .NavZero{
      &Main{
        &Pod{
          @include MainPodCssRule0;
          padding:0 $spacing7;
          width: 100%;
          height: 100%;
        }
      }
      &Pod{

        &0{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &Title {
            &0 {
              font-family: 'Freelancer';
              color:rgb(var(--wml-original-secondary));
              display:inline;
              z-index:6;
              margin:auto;
              position: relative;
              inset:0;
            }
          }

          &Img {
            &0 {
              z-index:4;
              width: 100%;
              height: 100%;
              display:inline;
              position: absolute;
              filter: var(--wml-original-quaternary-filter);

            }
          }

          &Link {
            &0 {
              color:rgb(var(--wml-original-quaternary));
              margin: 0 0 0 $spacing9;
              font-size:$wml-h3;
            }
          }
          &Item {
            &0 {
              position:relative;
              display:flex;
              flex: 0 0 20%;
              height:100%;
              min-width:calc(178/10.6 * 1rem)
            }
            &1{
              display: flex;
              align-items: center;
            }

          }
          &Icon {
            &0 {
              color:rgb(var(--wml-black));
              background-color:rgba(var(--wml-white));
              border-radius: $wml-border-radius1;
              padding:$spacing3;
              font-size:$wml-h3;
              display: none;
              margin: 0 0 0 $spacing7;
            }
          }
        }
      }
    }
  }

}
