#root scratchpad{


  .AdsZeroMainPod{
    height: 100%;
    max-height: none;
    max-width: 20%;
    flex-direction: column-reverse;
  }

  .AdsZeroMainText0{
    align-self: flex-end;
    margin:0;
  }
}
