@import "src/assets/styles/_global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";

:host {





  label {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    padding-top: 7px;
    height: 23px;
    font: 0.9em Arial;
    text-align: center;
    color:$wml-white;
  }



  &.CarouselZeroView {
    display: block;
    width: 100%;
    height: calc(300/10.6 * 1rem);
    .CarouselZero {
      &Main {
        &Pod {
          width: 100%;
          height: 100%;
          @include WMLFlexColumnCenter;
        }
      }
      &Pod {
        &0 {
        }
        &1{
          width:  50%;
          height: 100%;
          text-align: left;
          margin: $spacing11 0 0 0;
          perspective: calc(1000/10.6 * 1rem);
          perspective-origin: 50% -50%;

          &Item {
            &0 {
              transform-style: preserve-3d;
              position: relative;
              width:  100%;
              height: 100%;
              transition: 1s;
            }
            &1{
              position: absolute;
              transition: 1s;
              width: 100%;
              height: 100%;
              @include WMLFlexColumnCenter;
              align-items: center;
            }

          }
        }
        &2{
          width: 100%;
          height: 50%;
          &Item {
            &0 {
              display: none;
            }
          }
        }
      }
    }
  }
}
