<div [class]="classPrefix('MainPod')">

  <section *ngIf="params.optionsContainer.isPresent" [class]="classPrefix('Pod0')">
    <ng-container *ngFor="let card of params.cards; let i = index">
      <label
      [ngStyle]="card.option.style"
      (click)="card.option.click()" [for]="i">{{ i + 1 }}</label>
    </ng-container>
  </section>


  <section [class]="classPrefix('Pod1')">
    <div [ngStyle]="params.carousel.style" [class]="classPrefix('Pod1Item0')">

      <card-two
      [params]="card.paymentCard"
      [class]="classPrefix('Pod1Item1')"
        [ngStyle]="card.card.style"
        (click)="card.card.click()"
        *ngFor="let card of params.cards; let i = index"
      ></card-two>
    </div>

  </section>

  <section [class]="classPrefix('Pod2')">
    <card-two
      *ngIf="params.chosenCard"
      [params]="params.chosenCard?.paymentCard"
      [class]="classPrefix('Pod2Item0')"

    ></card-two>
  </section>
</div>
