
@import "src/assets/styles/global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";


:host {


  &.CandidacyInfoFormView{
    display: block;
    .CandidacyInfoForm{
      &Main{
        &Pod{
          background-color: var(--wml-white);
          display: flex;
          flex-flow:row wrap;
          padding:$spacing3 $spacing7;
          *:not(.CandidacyInfoFormMainText0) {
            color:var(--wml-black);
          }


        }

        &Text{
          &0 {
            color:var(--wml-alert);
          }
        }

        &Item {

          @for $i from 0 through 1 {
            &#{$i} {
              flex: 0 0 50%;
            }
          }
          &0 {
            padding:$spacing7;
          }
          &1 {
            padding:$spacing3 $spacing7;
          }
          &2{
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
          }
        }
      }
      &Pod{

        &0{}
      }
    }
  }

}
